/* CSS Document */




body {
	background:#fff;
	font: 16px/1.95em "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	margin:0;
	color:#666;
	padding-top:20px;
	border:3px solid #eee;
}

html {
	border:15px solid #f6f6f6;
	border-left:30px solid #f6f6f6;
	border-right:30px solid #f6f6f6;
}

ul#nav {
	background:#8EDF53;
	padding:5px;
	font-size:80%;
	border-top:3px solid #6CCC26;
	border-bottom:3px solid #6CCC26;
	font-weight:bold;
	margin:3px 0 0 0;
}

ul#nav li {
	display:inline;
	list-style:none;
	margin-right:55px;
}

ul#nav li a {
	padding:10px 14px;
	color:#fff;
	text-decoration:none;
}

ul#nav li a:hover {
	background:#7EDB39;
	color:#fff;
}

ul#nav li a.active {
	background:#fff;
	color:#333;
	border-right:2px solid #6CCC26;
	border-bottom:2px solid #6CCC26;
}

