<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookStore3</display-name>
  <welcome-file-list>
    <welcome-file>/user/login.jsp</welcome-file>
  </welcome-file-list>
    <!--
   <filter>
      <filter-name>struts2</filter-name>
      <filter-class>
         org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
      </filter-class>
   </filter>

   <filter-mapping>
      <filter-name>struts2</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
     -->
     
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/BookStore3/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrUpdateBookServlet</servlet-name>
    <servlet-class>servlet.AddOrUpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrUpdateBookServlet</servlet-name>
    <url-pattern>/BookStore3/AddOrUpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/BookStore3/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrUpdateUserServlet</servlet-name>
    <servlet-class>servlet.AddOrUpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrUpdateUserServlet</servlet-name>
    <url-pattern>/BookStore3/AddOrUpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/BookStore3/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrUpdateOrderServlet</servlet-name>
    <servlet-class>servlet.AddOrUpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrUpdateOrderServlet</servlet-name>
    <url-pattern>/BookStore3/AddOrUpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/BookStore3/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOrderitemServlet</servlet-name>
    <servlet-class>servlet.DeleteOrderitemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderitemServlet</servlet-name>
    <url-pattern>/BookStore3/DeleteOrderitemServlet</url-pattern>
  </servlet-mapping>

 
  <servlet>
  	<servlet-name>WXLoginServlet</servlet-name>
  	<servlet-class>servlet.WXLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WXLoginServlet</servlet-name>
  	<url-pattern>/BookStore3/WXLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>WXBookManagerServlet</servlet-name>
  	<servlet-class>servlet.WXBookManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WXBookManagerServlet</servlet-name>
  	<url-pattern>/BookStore3/WXBookManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>WXRegisterServlet</servlet-name>
  	<servlet-class>servlet.WXRegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>WXRegisterServlet</servlet-name>
  	<url-pattern>/BookStore3/WXRegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WXCartManagerServlet</servlet-name>
  	<servlet-class>servlet.WXCartManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WXCartManagerServlet</servlet-name>
  	<url-pattern>/BookStore3/WXCartManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>WXOrderManagerServlet</servlet-name>
  	<servlet-class>servlet.WXOrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WXOrderManagerServlet</servlet-name>
  	<url-pattern>/BookStore3/WXOrderManagerServlet</url-pattern>
  </servlet-mapping>
</web-app>